.header {
    padding: 2rem 2rem 0.5rem;
    .header-component-block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .brand-name {
            font-size: 3rem;
            font-weight: bold;
            color: #2160a4;
            span {
                color: #848484;
                margin-left: 1rem;
            }
        }
        .header-sub-block {
            display: flex;
            align-items: center;
            justify-content: center;
            .header-sub-icon {
                color: #2160a4;
                width: 25px;
                height: 25px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                margin-right: 1rem;
            }
            .header-sub-description {
                font-size: 1.2rem;
            }
        }
    }
}