$dark-blue: #004d99;
$medium-blue: #007acc;
$light-blue: #66a3ff;
$red-color: #ff3333;
$accent-color: #808080;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: $accent-color;
}

.footer {
  background-color: #0d396a;
  color: #ffffff;
  padding: 2rem;
}
