$dark-blue: #004d99;
$medium-blue: #007acc;
$light-blue: #66a3ff;
$red-color: #ff3333;
$accent-color: #808080;
$white-color: #ffffff;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: $dark-blue;
  font-size: 14px;
}

.header {
  background: $dark-blue;
  color: $white-color;
  text-align: center;
  line-height: 1rem;
}

.footer {
  background: $dark-blue;
  color: $white-color;
  text-align: center;
  line-height: 1rem;
}
