.navigation {
  position: relative;
  top: 2rem;

  .navigation-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f60a4;
    color: #ffffff;
    padding: 2rem;

    .navigation-item a {
      font-size: 1.5rem;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}
