#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007acc;
    /* Use one of the blue colors from your color scheme */
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#scrollToTopBtn:hover {
    background-color: #004d99;
    /* Darker shade of blue on hover */
}