.section-page {
  margin-top: 2rem;

  .section-title {
    color: #393939;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #ececec;
    padding: 1rem 0.5rem;
    margin-bottom: 2.5rem;
  }

  .section-description {
    color: #848484;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 0.5rem 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #ececec;
  }

  .section-sub-title {
    color: #2160a4;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .section-sub-description {
    color: #848484;
    font-size: 1.3rem;
  }

  .section-sub-block {
    display: flex;
    margin-bottom: 2rem;

    .section-sub-icon {
      background-color: #2160a4;
      width: 35px;
      height: 35px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 43px;
      margin-right: 2rem;
    }
  }

  .provider-image {
    min-height: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-link {
    display: inline-block;
    position: relative;
  }

  .image-link img {
    display: block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }

  .image-link:hover img {
    opacity: 70%;
  }

  .image-link::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: rgba(243, 242, 248, 50%);
    opacity: 0%;
    transition: opacity 0.3s ease;
  }

  .image-link:hover::after {
    opacity: 100%;
  }

  .image-link::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: rgba(236, 233, 241, 50%);
    opacity: 0%;
    transition: opacity 0.3s ease;
  }

  .image-link:hover::after {
    opacity: 100%;
  }
  /* Set carousel height */

  .carousel-inner img {
    width: 100%;
    height: 400px;
    /* Adjust height as needed */
  }
}
